:root {
    --main-colour: #474747;
    --secondary-colour: #ffffff;
    --accent-colour: beige;
    --background-colour: #2b2b2b;

    --mainText: beige;
}

body {
    background-color: var(--background-colour);
}

.progressBar {
    background-color: var(--background-colour);
    height: 3px;
    width: 95%;
    margin: auto;
    border-radius: 5px;
}

.progress {
    background-color: var(--mainText);
    height: 4px;
    width: 0%;
    border-radius: 5px;

}

.container {
    background-color: var(--main-colour);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
    min-height: 575px;
    min-width: 400px;
    height: 52vh;
    width: 60%;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.name {
    margin-top: 4rem;
    font-size: 3.5rem;
}

.btnContainer {
    margin: auto;
    text-align: center;
    padding-top: 1rem;   
}

.setTimer {
    background-color: var(--main-colour);
    font-size: 1.5rem;
}

#pomodoro {
    background-color: var(--background-colour);
}

#timeLeft {
    text-align: center;
    font-size: 10.5rem;
    line-height: 1rem;
}


h1, .setTimer, #timeLeft, #theSwitch {
    font-family: 'Poppins', sans-serif;
    color: var(--mainText);
}

.setTimer, #theSwitch {
    cursor: pointer;
    border: none;
    border-width: 0.15rem;
    border-radius: 10px;
    outline: none;
    margin: 0.25rem;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#theSwitch {
    background-color: var(--main-colour);
    display: flex;
    margin: auto;
    font-size: 2.5rem;
    width: 6.7rem;
    justify-content: center;
    
}
